<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
    <title>SHOOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.1.1/spacelab/bootstrap.min.css">

    <style>

        nav {
          margin-bottom: 25px;
        }

        .fa-rotate-45 {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .fa-rotate-135 {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }

        @media (max-width: 1075px) { 
          .container {
            padding-top: 50px;
          }
        }

        .btn {
          height: 30px;
        }

        .btn-lg{
          height: 45px;
          margin-top: 5px;
        }

        #toolbar {
          display: flex;
          justify-content: space-between;
          width: 550px;
        }
        
        #controls {
          position: fixed;
          left: 5px;
        }

        div#loading {
          width: 35px;
          height: 35px;
          display: none;
          background: url(/static/shoot_loading.gif) no-repeat;
          cursor: wait;
          }

   </style>
</head>

<body>

<!--
###############################################################################################################################
-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/">SHOOT: sprout a new branch on the tree of life</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="{{ url_for('faq') }}" class="nav-link" role="link">FAQ</a>
    </li>
  </ul>
</nav>

<form class="needs-validation position-relative" name="sequence_form" id="submission_form_seq" action="{{ url_for('result') }}" onsubmit="return validate_sequence()" method="post" novalidate>
  <div class="container" id = 'submission_form'>
    <div id="loading"></div>
    <div class="container" id = 'paste_sequence'>   
      <h2>Input protein sequence:</h2>
      <div class="input-group has-validation">
        <div class="container-fluid" id = 'sequence_body'>
          <textarea class="form-control" spellcheck='false' name = 'seq_data' id = 'seq_spec' autofocus = true placeholder = "" style = 'font-family: Courier; width: 100%; height: 100%' rows = 10 cols = 80 selectionStart = 1 selectionEnd = 1000>>Duck_gene_X
MIYNSHCNSWFLLDALGEMEPPTSSRLNPRKRRKDGSGPNGATELDGVPPKMSRRSVGLR
EPAPFSDEVEIDYSKPYIRVTYEEAMRGTPLDRPVRVYADGIFDLFHSGHARALMQAKNL
FPNTYLIVGVCSDELTHNFKGFTVMNENERYDAVQHCRYVDEVVRNAPWTLTPEFLAEHR
IDFVAHDDIPYSSAGSDDVYKHIKEAGMFAPTQRTEGISTSDIITRIVRDYDVYARRNLQ
RGYTAKELNVSFINEKKYHLQERVDKVKKRVKDVEEKSKEFVQKVEEKSIDLIQKWEEKS
REFIGNFLEMFGPEGALVRSCLGRRGKGIWESLAAGTGMVQPISNSLDKASSGRSTKGPR
SPEAGLRTPACVLQATEQRDWQSLCHWHGMGWV</textarea>
        </div>
      </div>
      <span>
        <div class="alert alert-warning" role="alert" id="invalid_chars_in_seq">  
          Protein sequence can only contain characters a-z or A-Z.
        </div>
        <div class="alert alert-warning" role="alert" id="empty_seq">  
        Input sequence is empty
        </div>
        <div class="alert alert-warning" role="alert" id="multiple_seqs">
          Multiple sequences, only the first one will be used
        </div>
        </span> 
    </div>
    <h2>Database:</h2>
    <div class="container">
      <select class="form-control custom-select" id = 'database_selection' name = 'i_database'>
      <option selected value="0">All domains of life: UniProt Reference proteomes</option>
      <option value="1">Metazoa</option>
      <option value="2">Plants</option>
      <option value="3">Fungi</option>
    </select>
    </div>  


<!-- <div class="container" id = 'fasta_upload'>
        Or, upload FASTA file:
        <input type="file" id="newick_file"/>
</div> -->

    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" id = 'submit_button' onclick="loading();">Submit</button>
  </div>
</form>
<div class="container my-5" id = 'about_text'>
  <h2>About SHOOT</h2>
  <p>While BLAST searches against a database of gene sequences, SHOOT allows you to search against a database of gene trees. This has a number of advantages:</p>
  <ul>
    <li>The gene tree displays the actual relationships between genes.</li>
    <li>The gene tree allows orthologs (and paralogs) to be identified.</li>
    <li>The gene tree gives an intuitive view of the evolution of the gene family.</li>
    <li>SHOOT has carefully curated databases of species so that a gene's history is not obscured by many near-identical hits.</li>
  </ul>
</div>

<footer class="footer fixed-bottom bg-light">
  <div class="container">
    <span class="text-muted">SHOOT: gene search and placement within a phylogenetic database. David Emms & Steven Kelly &copy; 2021</span>
  </div>
</footer>

<!--
###############################################################################################################################
-->
<script type="text/javascript">// <![CDATA[
  function loading(){
      $("#loading").show();
      $("#content").hide();       
  }
// ]]></script>

<script>
  
function validate_sequence(){
    $(".alert").hide()
    var isValid = true;
    var input_string = $('textarea[id$="seq_spec"]').val();

    var values = process_sequence(input_string);
    var name = values[0];
    var seq = values[1];

    isValid = is_sequence_ok(seq);
    if (isValid) {
      $(".alert").hide()
    }
    return isValid;
};

function process_sequence(seq_str)  {
  var res = seq_str.split(">");
  if (res.length > 2) {
    alert("WARNING: Multiple sequences, only the first will be used")
  }
  var lines = seq_str.split("\n");
  var name = "";
  var seq = "";

  for (const l of lines) {
    if (l.startsWith(">")) {
      if (name.len > 0) {
        break;
      }
      name = l.substring(1);
    }
    else if (l.len == 0) {
      break;
    }
    else {
      seq = seq.concat(l);
    }
    name = name.trim();
    seq = seq.trim();
  }

  if (seq.len > 10000) {
    alert("Truncated input sequence to maximum length of 10000")
    seq = seq.substring(0, 10000);
  }
  return [name, seq];
}

function is_sequence_ok(seq)  {
  var c, i;
  var len = seq.length;
  if (len < 1) {
    $("#empty_seq").show()
    return false;
  }
  for (i = 0; i < len; i++) {
    c = seq.charCodeAt(i);
    if (!(c > 64 && c < 91) && // upper alpha (A-Z)
        !(c > 96 && c < 123)) { // lower alpha (a-z)
          $("#invalid_chars_in_seq").show()
      return false;
    }
  }
  return true;
};

$(".alert").hide()

</script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
