<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
    <title>SHOOT.bio</title>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-153557091-2', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.1.1/spacelab/bootstrap.min.css">

    <style>

        body {
          /* Stop footer overlapping content*/
            padding-bottom: 120px;
        }

        nav {
          margin-bottom: 25px;
        }

        .fa-rotate-45 {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .fa-rotate-135 {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }

        @media (max-width: 800px) { 
          .container {
            padding: 0px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }

        .btn {
          height: 30px;
        }

        .btn-lg{
          height: 45px;
          margin-top: 0px;
        }

        #toolbar {
          display: flex;
          justify-content: space-between;
          width: 550px;
        }
        
        #controls {
          position: fixed;
          left: 5px;
        }

        div#loading {
          width: 35px;
          height: 35px;
          display: none;
          background: url(/static/shoot_loading.gif) no-repeat;
          cursor: wait;
          }
		

   </style>
</head>

<body>

<!--
###############################################################################################################################
-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


<header>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
<!-- <nav class="navbar navbar-dark bg-primary"> -->
<!-- <span class="navbar-brand mb-0 h1"></span>  -->
<span class="navbar-text mb-0 h5" style="color:white; margin-right:10px">SHOOT.bio: sprout a branch on the tree of life</span>
 <ul class="navbar-nav">
  <li class="nav-item">
   <a href="{{ url_for('faq') }}" class="nav-link" role="link">FAQ</a>
  </li>
 </ul>
</nav>
</header>

<form class="needs-validation position-relative" name="sequence_form" id="submission_form_seq" action="{{ url_for('result') }}" onsubmit="return validate_sequence()" method="post" novalidate>
  <div class="container" id = 'submission_form'>
    <div id="loading"></div>	
    <div class="container nopadding" id = 'paste_sequence'></div>      
    <div class="input-group has-validation nopadding"></div>
    <div class="container nopadding" id = 'sequence_body'></div>
	<strong>Enter Query Sequence</strong>
  <div class ="form-group"> 
  <textarea class="form-control" spellcheck='false' name = 'seq_data' id = 'seq_spec' autofocus = true placeholder = "" style = 'width:100%; font-family: Courier' rows = 6 cols = 40 selectionStart = 1 selectionEnd = 1000>>Example_metazoan_sequence
MIYNSHCNSWFLLDALGEMEPPTSSRLNPRKRRKDGSGPNGATELDGVPPKMSRRSVGLREPAPFSDEVEIDYSKPYIRVTYEEAMRGTPLDRPVRVYADGIFDLFHSGHARALMQAKNLFPNTYLIVGVCSDELTHNFKGFTVMNENERYDAVQHCRYVDEVVRNAPWTLTPEFLAEHRIDFVAHDDIPYSSAGSDDVYKHIKEAGMFAPTQRTEGISTSDIITRIVRDYDVYARRNLQRGYTAKELNVSFINEKKYHLQERVDKVKKRVKDVEEKSKEFVQKVEEKSIDLIQKWEEKSREFIGNFLEMFGPEGALVRSCLGRRGKGIWESLAAGTGMVQPISNSLDKASSGRSTKGPRSPEAGLRTPACVLQATEQRDWQSLCHWHGMGWV</textarea>
  <!-- </div>       -->
      
    <span>
        <div class="alert alert-warning" role="alert" id="invalid_chars_in_seq">  
          Protein sequence can only contain characters a-z or A-Z.
        </div>
        <div class="alert alert-warning" role="alert" id="empty_seq">  
        Input sequence is empty
        </div>
        <div class="alert alert-warning" role="alert" id="multiple_seqs">
          Multiple sequences, only the first one will be used
        </div>
    </span> 
    </br>   
    <strong>Choose Search Database</strong>
	</br>
    <select class="form-control custom-select" style="width:auto;" id = 'database_selection' name = 'i_database'>
        <option selected value="0">All domains of life</option>
        <option value="1">Metazoa</option>
        <option value="2">Plants</option>
        <option value="3">Fungi</option>
        <option value="4">Bacteria & Archaea</option>
    </select>
   	</br>  
	</br>
    <button class="btn btn-primary btn-lg" type="submit" value="Submit" id = 'submit_button' onclick="loading();">SHOOT</button>
  </div>
</form>
</br> 
<div class="container" id = 'about_text' style="margin-left: 5px; margin-right: 5px;">
   <p><strong>SHOOT.bio is a phylogenetic search engine</strong></br>It searches your query sequence against a database of gene families and provides you with a phylogenetic tree with your query sequence grafted into it. <strong>You can use SHOOT to:</strong></p>
  <ul>
  <li>Find <strong>similar sequences</strong> in other organisms (just like BLAST).</li>	 	
	<li>Produce a <strong>phylogenetic tree</strong> of your gene and its relatives.</li>	
	<li>Find the <strong>orthologs</strong> of your gene in other species.</li>
  <li>Map the <strong>evolutionary history</strong> of your gene.</li>	
	<li>Find the <strong>gene family</strong> of your gene.</li>		
  </ul>
</div>
</div>

<footer class="footer fixed-bottom bg-light">
  <div class="container">
    <span class="text-muted">SHOOT.bio: phylogenetic gene search and ortholog inference. David Emms & Steven Kelly &copy; 2021</span>
  </div>
</footer>


<!--
###############################################################################################################################
-->
<script type="text/javascript">// <![CDATA[
  function loading(){
      $("#loading").show();
      $("#content").hide();       
  }
// ]]></script>

<script>
  
function validate_sequence(){
    $(".alert").hide()
    var isValid = true;
    var input_string = $('textarea[id$="seq_spec"]').val();

    var values = process_sequence(input_string);
    var name = values[0];
    var seq = values[1];

    isValid = is_sequence_ok(seq);
    if (isValid) {
      $(".alert").hide()
      $("submit_button").disabled = true
    }
    return isValid;
};

function process_sequence(seq_str)  {
  var res = seq_str.split(">");
  if (res.length > 2) {
    alert("WARNING: Multiple sequences, only the first will be used")
  }
  var lines = seq_str.split("\n");
  var name = "";
  var seq = "";

  for (const l of lines) {
    if (l.startsWith(">")) {
      if (name.len > 0) {
        break;
      }
      name = l.substring(1);
    }
    else if (l.len == 0) {
      break;
    }
    else {
      seq = seq.concat(l);
    }
    name = name.trim();
    seq = seq.trim();
  }

  if (seq.len > 10000) {
    alert("Truncated input sequence to maximum length of 10000")
    seq = seq.substring(0, 10000);
  }
  return [name, seq];
}

function is_sequence_ok(seq)  {
  var c, i;
  var len = seq.length;
  if (len < 1) {
    $("#empty_seq").show()
    return false;
  }
  for (i = 0; i < len; i++) {
    c = seq.charCodeAt(i);
    if (!(c > 64 && c < 91) && // upper alpha (A-Z)
        !(c > 96 && c < 123)) { // lower alpha (a-z)
          $("#invalid_chars_in_seq").show()
      return false;
    }
  }
  return true;
};

$(".alert").hide()

</script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
